 /* TEAM CSS*/
p,
h6 {
    font-family: Raleway;
}

h2,
h3 {
    font-family: Ghotam;
}

.gris1 {
    background-color: hsl(0, 0%, 82%);
    border-radius: 50px;
    height: 230px;
    width: 230px;
    padding-top: 20px;
}

.gris2 {
    background-color: #B8B0AB;
    border-radius: 50px;
    height: 230px;
    width: 230px;
    padding-top: 20px;
